.Grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1rem;
    padding: 2rem;
    
}

.light{
    background-color: rgb(138, 223, 235);
    padding-bottom: 10%;
    
}
.dark{
    background-color: #000;
    padding-bottom: 10%;
    /* color: #fff; */
}